<div class="container">
  <div class="titulo">
    <h2>Persona</h2>
  </div>

  <form
    (ngSubmit)="formulario.form.valid && actualizarPersona(formulario)"
    #formulario="ngForm"
    novalidate
  >
    <div class="row justify-content-around">
      <div class="col-md-6">
        <mat-form-field>
          <input
            matInput
            placeholder="Nombre"
            [(ngModel)]="personaDto.nombre"
            #descripcion="ngModel"
            name="nombre"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input
            matInput
            placeholder="Apellido"
            [(ngModel)]="personaDto.apellido"
            #descripcion="ngModel"
            name="apellido"
            required
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-md-6">
        <mat-form-field>
          <input
            matInput
            placeholder="Nombre"
            [(ngModel)]="personaDto.fecha_nacimiento"
            #fecha_nacimiento="ngModel"
            name="fecha_nacimiento"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <span matPrefix>+57 &nbsp;</span>
          <input
            matInput
            type="tel"
            placeholder="Telefono"
            [(ngModel)]="personaDto.telefono"
            #telefono="ngModel"
            name="telefono"
            required
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-around">
      <div class="col-md-5">
        <mat-form-field>
          <input
            matInput
            placeholder="Dirección"
            [(ngModel)]="personaDto.direccion"
            #direccion="ngModel"
            name="direccion"
            required
          />
        </mat-form-field>
      </div>
    </div>

    <!-- Inicio Botones-->
    <div>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="!formulario.valid"
        class="mr-2"
      >
        {{ modoEdicion ? "Actualizar" : "Guardar" }}
      </button>
      <button mat-raised-button color="basic" (click)="limpiar()" type="button">
        Limpiar
      </button>
    </div>
    <!-- Fin Botones-->
  </form>
</div>

<!-- <div class="card">

  <div class="card-header card-header-text card-header-warning">
    <div class="card-text">
      <h4 class="card-title">Impuestos</h4>
    </div>
  </div>

  <div class="card-body">

    <h4>Hola :v</h4>

  </div>


</div> -->
