/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* You can add global styles to this file, and also import other style files */
mat-sidenav {
  width: 280px;
  padding: 15px;
}

.mat-toolbar {
  background-color: #3d5af1;
  color: #fff;
}

.mat-drawer {
  background-color: #0e153a;
  color: #fff;
}
.main-content {
  padding: 20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}

// 073B4C
// 118AB2
// 06D6A0
// FFD166
// EF476F
